.hello-world {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hello-world h1 {
  font-size: 40px;
  color: rgb(9, 193, 234);
  transition: font-size 0.3s;
}

.hello-world h1:hover {
  font-size: 60px;
}
